@tailwind base;
@tailwind components;
@tailwind utilities;

#Price label{
    font-family: 'Josefin Sans';
    font-size: 16px;
}
#Price input, select{
    border-radius: 20px;
    padding: 10px;
}

@media (max-width:700px){
    #Price section{
        all:unset;
    }
    .header {
        flex-direction: column;
    }
}
