@tailwind base;
@tailwind components;
@tailwind utilities;

/*CSS Tracking */



.code{
    width: 631px;
    height: 40px;
    margin: 5% auto 2% 31%;
    text-align: center;
    background: #D9D9D9;
    border-radius: 20px;
    -webkit-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    -moz-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
}

.circleRegistered {
    width: 100px;
    height: 100px;
  }
  .circleProcess{
    width: 100px;
    height: 100px;
    
  }
   .circleDelivered {
    width: 100px;
    height: 100px;
  }
  .circleProcess, .circleDelivered, .circleRegistered {
    border-radius: 60%;
    background-color: #284B63;
    
    -webkit-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    -moz-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
  
  }
  .containerTrack{
      display:inline-block;
      margin: auto -200px auto  417px;
  }

  .Rowtrack {
    background-color: #D9D9D9;
    width: 25%;
    margin: auto auto 2% 39%;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    -moz-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
    box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
  }

  .containerTrack label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto auto auto 16px;
  }


  @media (max-width: 700px) {

    .containerTrack{
        all:unset;
        width: 25%;
        margin: auto auto 2% 39%;
    }
    .code {
        width: 140px;
        height: 40px;
        margin: 5% auto 2% 31%;
        text-align: center;
        background: #D9D9D9;
        border-radius: 20px;
        -webkit-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
        -moz-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
        box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
      }
      .circleRegistered {
        width: 80px;
        height: 80px;
      }
      .circleProcess{
        width: 80px;
        height: 80px;
        
      }
       .circleDelivered {
        width: 80px;
        height: 80px;
      }
      .circleProcess, .circleDelivered, .circleRegistered {
        border-radius: 60%;
        background-color: #284B63;
        -webkit-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
        -moz-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
        box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
        
      
      }
      .Rowtrack {
        background-color: #D9D9D9;
        width: 25%;
        margin: auto auto 2% 39%;
        padding: 20px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
        -moz-box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
        box-shadow: 0px 3px 5px 2px rgba(51, 51, 51, 1);
      }
    
      .containerTrack label{
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: auto auto auto 5px;
      }
}

  .table-track {
    width: 50%;
    border-collapse: collapse;
    margin: 4% auto auto 405px;
  
  }
  .th-track,
  .td-track {
    padding: 8px;
    text-align: center;
    border: 1px solid #000000;
    font-family: 'Josefin Sans';
    font-size: 16px;
  }
  
  .th-track {
    color: #FFFFFF;
  }
  
  .th-track{
    background-color: #284B63;
  }
  
  .tr-track:hover {
    background-color: #f5f5f5;
  }
  @media (max-width: 600px) {
  
    .table-track{
        all:unset;
    }
    
  }
  